apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddress: {{ ip }}
  bindPort: 6443
etcd:
  endpoints:
{% for host in groups['etcd'] %}
  - https://{{ hostvars[host]['ip'] }}:2379
{% endfor %}
  caFile: /etc/kubernetes/pki/etcd/ca.pem
  certFile: /etc/kubernetes/pki/etcd/client.pem
  keyFile: /etc/kubernetes/pki/etcd/client-key.pem
networking:
  dnsDomain: {{ dns_name }}
  serviceSubnet: {{ service_cidr }}
  podSubnet: {{ pod_network_cidr }}
kubernetesVersion: {{ kube_version }}
apiServerCertSANs:
- kubernetes
- 127.0.0.1
- {{ dns_name }}
{% for domain in controller_domains -%}
- {{ domain }}
{% endfor %}
apiServerExtraArgs:
  apiserver-count: "{{ groups['kube-controllers'] | length }}"
