[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
EnvironmentFile=/etc/etcd.env
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart=/usr/local/bin/etcd --name ${PEER_NAME} \
    --data-dir /var/lib/etcd \
    --listen-client-urls https://{{ ip }}:2379,https://127.0.0.1:2379 \
    --advertise-client-urls https://{{ ip }}:2379 \
    --listen-peer-urls https://{{ ip }}:2380 \
    --initial-advertise-peer-urls https://{{ ip }}:2380 \
    --cert-file=/etc/etcd/pki/server.pem \
    --key-file=/etc/etcd/pki/server-key.pem \
    --client-cert-auth \
    --trusted-ca-file=/etc/etcd/pki/ca.pem \
    --peer-cert-file=/etc/etcd/pki/peer.pem \
    --peer-key-file=/etc/etcd/pki/peer-key.pem \
    --peer-client-cert-auth \
    --peer-trusted-ca-file=/etc/etcd/pki/ca.pem \
    --initial-cluster {{ etcd_peer_urls }} \
    --initial-cluster-token my-etcd-token \
    --initial-cluster-state {% if etcd_cluster_is_healthy.rc != 0 | bool %}new{% else %}existing{% endif %}

[Install]
WantedBy=multi-user.target
